.body{
    background: rgb(146, 214, 216);
}
.login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background: white;
}
